.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--color-primary);
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  appearance: none;
  background: none;
  background-color: var(--color-primary);
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 0 2px var(--color-border);
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-weight: 400;
  outline: 0;
  padding: 12px;
  width: 100%;
}

.invalid {
  box-shadow: 0 0 0 2px var(--color-error);
}

.input:disabled {
  opacity: 0.5;
}

.input:focus-visible {
  box-shadow: 0 0 0 2px var(--color-main-dark);
}

.input.invalid:focus-visible {
  box-shadow: 0 0 0 2px var(--color-error);
}

.input:hover:not(:disabled, :focus-visible, .invalid) {
  box-shadow: 0 0 0 2px var(--color-border-hover);
}

.errorMessage {
  color: var(--color-error);
  font-size: 14px;
  margin: 0;
}